/* Raw.githack.com -------
- Development URL -> https://bb.githack.com/kcpt/hacking-bento/raw/master/custom.css
- Production URL -> https://bbcdn.githack.com/kcpt/hacking-bento/raw/master/custom.css
* ------------- */


/* MENU PASSPORT LINK SECTION
---------------------------------------------------------*/

a.livetv-link {
    padding: 10px 30px;
    text-decoration: none;
    transition: opacity .3s ease;
}

a.livetv-link span {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    border: 2px solid white;
    padding: 2px 10px;
}

a.livetv-link:hover {
    opacity: .7;
}

@media(max-width: 1024px) {
    #passportMobile,
    #liveTVMobile {
        display: block !important;
    }
    #passportMobile a.menu-item {
        color: white !important;
        background-color: #2638c4;
    }
    #liveTVMobile a.menu-item {
        color: white !important;
        background-color: #0a145b
    }
    #passportMobile a.menu-item:hover {
        background-color: #0F1E8C !important;
    }
    #liveTVMobile a.menu-item:hover {
        background-color: #000210 !important;
    }
    #passportMobile svg {
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
        width: 20px;
    }
    #passportMobile img {
        height: 32px;
    }
}

@media(min-width: 1025px) {
    body nav.station-header.menu--default {
        padding-top: 82px !important;
    }
    .passport-link svg {
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
        width: 20px;
    }
    .passport-link {
        color: white;
        display: inline-block;
        font-size: 1.6em;
        font-weight: 600;
        padding: 24px 0;
        position: relative;
        text-decoration: underline;
        z-index: 1;
    }
    .passport-link:visited {
        color: white;
    }
    .passport-link:hover {
        color: #dbdbdb;
    }
    .passport-link span {
        vertical-align: middle;
    }
    .passport-link img {
        height: 34px;
        position: relative;
        top: -2px;
    }
    main.content {
        margin-top: 0px;
    }
    .passport-div {
        background: #2638c4;
        display: block !important;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: right;
        z-index: 10;
    }
    .passport-div div {
        margin: 0 auto;
        max-width: 1280px;
    }
}

@media(min-width:1025px) and (max-width:1304px) {
    .passport-link {
        padding-left: 24px;
        padding-right: 24px;
    }
}


/* MAIN MENU LOGO
---------------------------------------------------------*/

.station-header .station-header-logo img {
    max-width: 200px
}

@media (min-width: 1127px) and (max-width: 1167px) {
    .station-header .station-header-logo img {
        max-width: 140px
    }
}


/* MENU DONATION BUTTON
---------------------------------------------------------*/

.menu-container ul.navbar-nav>li:nth-last-child(4) a {
    background-color: #D6383A;
    color: white !important;
}

.menu-container ul.navbar-nav>li:nth-last-child(4) a:hover {
    color: #222 !important;
}

@media(max-width: 1024px) {
    .menu-container ul.navbar-nav>li:first-child {
        margin-top: 52px;
    }
    /* .menu-container ul.navbar-nav>li:nth-last-child(4) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    } */
}


/* HOMEPAGE FEATURE BOXES
---------------------------------------------------------*/

#layout-d1f20a60-367a-11e7-ac69-1946b8cc8908 a {
    border-radius: 3px;
    box-shadow: 0 0 0 #00000061;
    display: block;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transition: all .16s ease;
}

#layout-d1f20a60-367a-11e7-ac69-1946b8cc8908 a:hover {
    box-shadow: 1px 10px 12px -1px rgba(0, 0, 0, .2), 0px -1px 10px 1px rgba(0, 0, 0, 0.05);
    -webkit-transform: scale3d(1.075, 1.075, 1);
    transform: scale3d(1.075, 1.075, 1);
    transition: all .3s ease;
}

@media(max-width: 767px) {
    #layout-d1f20a60-367a-11e7-ac69-1946b8cc8908 {
        margin: 30px 0;
    }
    #layout-d1f20a60-367a-11e7-ac69-1946b8cc8908>.column-3 {
        width: 50%;
        display: inline-block;
    }
    #layout-d1f20a60-367a-11e7-ac69-1946b8cc8908>.column-3:nth-child(odd) {
        padding-right: 4px;
    }
    #layout-d1f20a60-367a-11e7-ac69-1946b8cc8908>.column-3:nth-child(even) {
        padding-left: 4px;
    }
}


/* CUSTOM KIMBIA FORM
---------------------------------------------------------*/

#customKimbia form {
    font-size: 1.6rem
}

.kimbiaDiv {
    width: 100% !important;
    font-size: 16px !important;
}


/* KIMBIA TABS
---------------*/

form .k_jquery-ui .ui-tabs {
    border: none !important;
    margin-top: 4rem;
    font-size: 1.6rem
}

form .k_jquery-ui .ui-tabs .ui-tabs-nav {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0
}

form .k_jquery-ui .ui-tabs .ui-tabs-nav li.ui-state-default {
    border: none;
    margin-right: 1em
}

form .k_jquery-ui .ui-tabs .ui-tabs-nav li.ui-state-default a {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 1.8em 1.6em;
    opacity: .6
}

form .k_jquery-ui .ui-tabs .ui-tabs-nav li.ui-state-default.ui-state-active a {
    opacity: 1;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .13);
    position: relative
}

form .k_jquery-ui .ui-tabs .ui-tabs-nav li.ui-state-default.ui-state-active a:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    border-bottom: 4px solid #247182
}

.k_jquery-ui .ui-tabs .ui-tabs-panel {
    padding: 1em 0
}

@media(max-width:500px) {
    form .k_jquery-ui .ui-tabs {
        font-size: 1.2rem
    }
    form .k_jquery-ui .ui-tabs .ui-tabs-nav {
        border-bottom: 1px solid #d0d0d0;
        border-radius: 0
    }
    form .k_jquery-ui .ui-tabs .ui-tabs-nav li.ui-state-default a {
        padding: 1.4em 1.2em;
        border-radius: 4px 4px 0 0;
        border-bottom: 0
    }
    form .k_jquery-ui .ui-tabs .ui-tabs-nav li.ui-state-default.ui-state-active a {
        box-shadow: 2px -5px 10px -4px rgba(0, 0, 0, .13)
    }
    form .k_jquery-ui .ui-tabs .ui-tabs-nav li.ui-state-default.ui-state-active a:after {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 4px 0 0 3px;
        border-width: 0 0 0 3px;
        border-style: solid;
        border-color: #247182
    }
}


/* KIMBIA GLOBAL
-- FORM STYLES
-----------------------*/

div#kimbiaView_1_DonationLevel.invalid:after,
div.kimbiaDiv div.k_questionBlock div.inputGroup.invalid span.fieldCaption {
    display: none
}

div.kimbiaDiv label.groupLabel.section {
    margin-top: 40px;
    margin-bottom: 40px
}

div.kimbiaDiv input {
    padding: 0 .5em;
    border: 1px solid #d0d0d0 !important;
    width: 100% !important;
    max-width: 500px !important;
    height: 48px;
}

div.kimbiaDiv select {
    padding: 1.1em .6em !important;
    height: auto !important;
    border: 1px solid #d0d0d0 !important;
    width: 500px !important;
    max-width: 100% !important
}

div.kimbiaDiv input[type=radio] {
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    clear: none !important;
    line-height: 0 !important;
    opacity: 0;
}

div.kimbiaDiv button.k_button.forward {
    margin-top: 2.6em;
    font-size: 1.6em;
    padding: 2em 0;
    border-radius: 0;
    border: 4px solid #247182;
    background: #247182;
    color: #fff;
    width: 35em !important;
    max-width: 100% !important;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: color .2s ease;
    text-align: center
}

div.kimbiaDiv button.k_button.forward:hover {
    color: #fff
}

div.kimbiaDiv button.k_button.forward:before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .14);
    transition: all .3s ease;
    z-index: 0
}

div.kimbiaDiv button.k_button.forward:hover:before {
    right: 0
}

div.kimbiaDiv span.fieldCaption a {
    color: #4ebcb5
}

div.kimbiaDiv div.k_questionBlock div.inputGroup {
    border: 0 solid red;
    padding-left: 0;
    transition: padding .2s ease
}

div.kimbiaDiv div.k_questionBlock div.inputGroup.invalid {
    background: 0 0;
    border-left: 4px solid red;
    padding-left: 1em;
    margin-bottom: 1em;
    position: relative
}

div.kimbiaDiv div.k_questionBlock div.inputGroup.invalid:after {
    content: '- required';
    color: #c30707;
    font-size: .8em;
    position: absolute;
    bottom: -2px
}

div.kimbiaDiv .k_buttonBlock {
    height: 200px
}

.errDiv.invalid {
    padding: 1em;
    margin-top: 2em !important;
    float: left !important;
    width: 100%
}

@media(max-width:1280px) {
    span.eventDescription {
        padding: 0 16px
    }
}


/* KIMBIA GLOBAL
-- INPUT GROUP STYLES
-----------------------*/

.kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"] {
    border: 0 solid red;
    padding-left: 0;
    transition: padding .2s ease
}

.kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"].invalid span.fieldCaption {
    display: block
}

.kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"].invalid span.fieldCaption span {
    display: none !important;
}

.kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"].k_askArrayMain.invalid span.fieldCaption span {
    display: block !important;
}

.kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"].k_askArrayMain.invalid:after {
    display: none;
}

.kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"] label.k_radioCB {
    background: #fff;
    display: inline-block;
    padding: 1em 2em;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    margin: 0 16px 16px 0;
    width: auto;
    cursor: pointer;
}

.kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"].k_askArrayMain label.k_radioCB {
    width: 31.5%;
    max-width: 400px;
    min-height: 100px;
}

.kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"] input[type=radio]:checked+label {
    background: #2638c4;
    color: white;
    font-size: bold;
    border-color: #2f565f;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .13)
}


/* KIMBIA VIEW 1 STYLES
-----------------------*/

div#kimbiaView_1_DonationLevel.k_askArrayMain label.k_radioCB {
    width: auto;
    min-height: inherit;
}

div#kimbiaView_1_DonationLevel input[value="Producers' Society"]+label {
    clear: both;
    display: block;
    max-width: 400px
}

div#kimbiaView_1_DonationLevel input[value="Producers' Society"]+label span {
    margin-bottom: 0
}

div#kimbiaView_1_DonationLevel input[title="Other monthly amount:"] {
    padding: 0 1em;
    width: 100%;
    max-width: 180px !important;
    height: 52px;
    margin-left: 0
}

div#kimbiaView_1_DonationLevel input[title="Other monthly amount:"]:focus {
    opacity: 1
}

div#kimbiaView_1_DonationLevel input[title="Other monthly amount:"]+span {
    margin-left: 30px;
    background: 0 0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 1.3em .8em 1.3em .4em;
    position: relative;
    top: -3px
}

div#kimbiaView_1_DonationLevel input[title="Other monthly amount:"]+span+span {
    margin-top: 10px;
    display: block
}

@media(max-width:991px) {
    div.kimbiaDiv div.k_questionBlock div.inputGroup.invalid:after {
        position: relative
    }
    div#kimbiaView_1_DonationLevel input[title="Other monthly amount:"] {
        display: inline-block;
        margin-right: 0;
        min-width: 0 !important;
        max-width: 250px !important
    }
    div#kimbiaView_1_DonationLevel input[title="Other monthly amount:"]+span {
        margin-left: 15px
    }
}

@media(max-width:640px) {
    div#kimbiaView_1_DonationLevel input[title="Other monthly amount:"] {
        display: block;
        margin-right: 0;
        width: 100% !important;
        min-width: 0 !important;
        max-width: 400px !important
    }
    div#kimbiaView_1_DonationLevel input[title="Other monthly amount:"]+span {
        margin-left: 0;
        top: 0;
        display: inline-block !important;
        padding: 0;
        margin-top: 4px;
        border: 0
    }
}


/* KIMBIA VIEW 2 STYLES
-----------------------*/

div#kimbiaView_2_DonationLevel label.k_radioCB {
    width: 30%;
    max-width: 400px;
    min-height: 150px;
    margin: 0 16px 20px 0
}

div#kimbiaView_2_DonationLevel input[value=Other]+label {
    clear: both;
    display: inline-block;
    max-width: 300px;
    margin-bottom: 16px;
    height: auto;
    min-height: inherit;
}

div#kimbiaView_2_DonationLevel input[title="Other amount:"] {
    padding: 0 1em;
    width: 100%;
    max-width: 200px !important;
    height: 52px;
    margin-left: 0
}

div#kimbiaView_2_DonationLevel input[title="Other amount:"]+span {
    margin-left: 30px;
    background: 0 0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 1.2em .8em;
    position: relative;
    top: -3px
}

div#kimbiaView_2_DonationLevel input[title="Other amount:"]+span+span {
    margin-top: 10px;
    display: block
}

@media(max-width:991px) {
    div#kimbiaView_2_DonationLevel input[value=Other]+label {
        display: block
    }
    div#kimbiaView_2_DonationLevel input[title="Other amount:"] {
        display: inline-block;
        margin-right: 0;
        min-width: 0 !important;
        max-width: 250px !important
    }
    div#kimbiaView_2_DonationLevel input[title="Other amount:"]+span {
        margin-left: 15px
    }
}

@media(max-width:640px) {
    div#kimbiaView_2_DonationLevel label.k_radioCB {
        width: 100% !important;
        max-width: none !important
    }
    div#kimbiaView_2_DonationLevel input[title="Other amount:"] {
        display: block;
        margin-right: 0;
        width: 100% !important;
        min-width: 0 !important;
        max-width: 400px !important
    }
    div#kimbiaView_2_DonationLevel input[title="Other amount:"]+span {
        margin-left: 0;
        top: 0;
        display: inline-block !important;
        padding: 0;
        margin-top: 4px;
        border: 0
    }
}


/* KIMBIA VIEW TICKETING BLOCK
-----------------------*/

.kimbiaDiv .k_numberGroup {
    margin-left: 0 !important;
}

.kimbiaDiv .k_numberGroup input.k_number {
    padding: 0.8em 0.5em;
    border-radius: 3px;
}

.k_questionBlock div[id*="TicketQuantity"] {
    margin-bottom: 30px !important;
}

.k_questionBlock div[id*="TicketQuantity"] .fieldCaption {
    margin-left: 0 !important;
    position: relative;
    top: 2px;
}

.k_questionBlock div[id*="TicketQuantity"].invalid .fieldCaption {
    margin-left: 80px !important;
    position: relative;
    top: 2px;
}


/* KIMBIA VIEW BLOCK STYLE
------------------------*/

#blockstyle .kimbiaDiv form div.k_questionBlock div[id^="kimbiaView"].k_askArrayMain label.k_radioCB {
    width: 100% !important;
    max-width: none !important;
}

#blockstyle div.kimbiaDiv div.k_rbGroup input.k_money.k_otherMoney,
div.kimbiaDiv div.k_rbGroup input.k_otherText {
    margin-left: 0;
}


/* SEARCH FUNDING DRIVE PROGRAMS FILTER 
---------------------------------------------------------*/

input#fd-programs-filter {
    padding: 2em 1em;
    width: 100%;
    font-size: 1em;
}

span#nomatch {
    display: block;
    text-align: center;
    font-size: 1.6em;
    margin-top: 1em;
}


/* GOOGLE EVENT CAL STYLES
---------------------------------------------------------*/

div#calDatepicker {
    margin-bottom: 2em;
}

div#calChooser a {
    margin-bottom: 0em;
    padding: 1em .5em;
    display: block;
}

div#calChooser a:hover {
    background: #ececec;
}

#calDatepicker table td {
    font-size: 1em;
}

#calDatepicker td a {
    border-radius: 20%;
    text-align: center;
}

#calDatepicker td.ui-datepicker-today a {
    background: #ececec;
    font-weight: 600;
}

#calDatepicker td a.ui-state-hover {
    background: #ececec;
}

#calDatepicker td a.ui-state-active {
    background: #64c4be;
}

div#calChooser br {
    display: none;
}

@media( max-width: 1300px) {
    div#calDatepicker,
    #calChooser {
        padding: 0 20px;
    }
}

@media( orientation:landscape) {
    div#calDatepicker {
        font-size: 2em;
    }
    div#calChooser {
        font-size: 1.4em;
    }
}

@media( orientation:portrait) {
    div#calDatepicker,
    #calChooser {
        font-size: 2vh;
    }
}


/* GOOGLE FORMS CONTACT
---------------------------------------*/

#googleFormsPopup {
    margin-left: 16px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 18px 24px;
    font-size: 2rem;
    color: white;
    background: #009688;
    border-radius: 3px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: background 0.2s ease, -webkit-transform 0.2s 0.4s cubic-bezier(0.11, 0.99, 0.13, 1.04);
    transition: transform 0.2s 0.4s cubic-bezier(0.11, 0.99, 0.13, 1.04), background 0.2s ease;
    transition: transform 0.2s 0.4s cubic-bezier(0.11, 0.99, 0.13, 1.04), background 0.2s ease, -webkit-transform 0.2s 0.4s cubic-bezier(0.11, 0.99, 0.13, 1.04);
    cursor: pointer;
}

#googleFormsPopup.formOpen {
    -webkit-transform: translate3d(-260%, 0, 0);
    transform: translate3d(-260%, 0, 0);
    transition: background 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, background 0.2s ease;
    transition: transform 0.2s ease, background 0.2s ease, -webkit-transform 0.2s ease;
}

#googleFormsPopup:focus,
#googleFormsPopup:hover {
    text-decoration: none;
    background: #247182;
}

#googleFormsEmbed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(222, 222, 222, 0.91);
    background: rgba(0, 0, 0, 0.76);
    background: rgba(0, 150, 136, 0.79);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.24s ease;
}

#googleFormsEmbed.isOpen {
    opacity: 1;
    pointer-events: all;
}

#googleFormsEmbed #contactContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    outline: 0;
    transition: 0.24s ease-in;
}

#googleFormsEmbed.isOpen #contactContainer {
    transition: 0.26s 0.4s cubic-bezier(0, 1.09, 0.21, 1.01);
}

#googleFormsEmbed #contactContainer iframe {
    width: 100%;
    height: 100%;
}

#googleFormsClose {
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#googleFormsClose .gfc-icon {
    stroke: white;
    stroke-width: 3;
    width: 20px;
    height: 20px;
}

@media( max-width: 767px) {
    #googleFormsEmbed #contactContainer {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    #googleFormsEmbed.isOpen #contactContainer {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media( min-width: 768px) {
    #googleFormsEmbed #contactContainer {
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -180%, 0);
        transform: translate3d(-50%, -180%, 0);
        max-width: 760px;
        height: 90%;
    }
    #googleFormsEmbed.isOpen #contactContainer {
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}


/* GOOGLE CUSTOM SEARCH
---------------------------------------*/

.cse input.gsc-input,
input.gsc-input {
    padding: 12px 8px;
    height: auto;
    border-radius: 0;
    width: 100%;
    margin-bottom: 0;
}

td.gsc-search-button {
    width: 10%;
    font-size: 1.6rem;
}

.cse input.gsc-search-button,
input.gsc-search-button {
    font-size: 14px;
    height: 45px;
    width: 100%;
    background: #247182;
    border-color: #125b6b;
}

.gs-web-image-box,
.gs-promotion-image-box {
    width: 122px;
}

.gs-web-image-box img.gs-image,
.gs-promotion-image-box img.gs-promotion-image {
    max-width: 120px;
}

.gsc-results .gsc-cursor-box {
    padding-top: 20px;
}

.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    background-color: #247182;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    width: 40px;
    padding: 10px 0;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page:not(.gsc-cursor-current-page):hover {
    background-color: #e0e0e0;
}

.gsc-branding,
.gcsc-branding {
    display: none;
}


/** Profile Grid Bugfix **/

.og-img-credit {
    visibility: hidden;
}


/** 404 EE */

#wall404 {
    margin-bottom: -2.127vw;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    min-height: 620px;
    background: #8c8c8c;
    transition: background 1.75s 1s ease;
}

.inner404 {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: background 1.75s 1s ease;
}

.inner404.tap {
    -webkit-animation: lean 3s cubic-bezier(0.15, 1.53, 0.76, 0.67) normal forwards 1;
    animation: lean 3s cubic-bezier(0.15, 1.53, 0.76, 0.67) normal forwards 1;
}

.inner404.knock {
    -webkit-animation: falling 3s cubic-bezier(0.15, 1.53, 0.76, 0.67) normal forwards 1;
    animation: falling 3s cubic-bezier(0.15, 1.53, 0.76, 0.67) normal forwards 1;
}

.inner404.push {
    -webkit-animation: ivefallenandicantgetup 5s cubic-bezier(1, 0, 0.95, 0.13) normal forwards 1;
    animation: ivefallenandicantgetup 5s cubic-bezier(1, 0, 0.95, 0.13) normal forwards 1;
}

@-webkit-keyframes lean {
    0%,
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 0deg);
        transform: rotate3d(1, 0, 0, 0deg);
    }
    80% {
        -webkit-transform: rotate3d(1, 0, 0, 2deg);
        transform: rotate3d(1, 0, 0, 2deg);
    }
}

@keyframes lean {
    0%,
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 0deg);
        transform: rotate3d(1, 0, 0, 0deg);
    }
    80% {
        -webkit-transform: rotate3d(1, 0, 0, 2deg);
        transform: rotate3d(1, 0, 0, 2deg);
    }
}

@-webkit-keyframes falling {
    0%,
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 2deg);
        transform: rotate3d(1, 0, 0, 2deg);
    }
    80% {
        -webkit-transform: rotate3d(1, 0, 0, 5deg);
        transform: rotate3d(1, 0, 0, 5deg);
    }
}

@keyframes falling {
    0%,
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 2deg);
        transform: rotate3d(1, 0, 0, 2deg);
    }
    80% {
        -webkit-transform: rotate3d(1, 0, 0, 5deg);
        transform: rotate3d(1, 0, 0, 5deg);
    }
}

@-webkit-keyframes ivefallenandicantgetup {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, 4deg);
        transform: rotate3d(1, 0, 0, 4deg);
    }
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 80deg);
        transform: rotate3d(1, 0, 0, 80deg);
    }
}

@keyframes ivefallenandicantgetup {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, 4deg);
        transform: rotate3d(1, 0, 0, 4deg);
    }
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 80deg);
        transform: rotate3d(1, 0, 0, 80deg);
    }
}


/* ee video */

#eevContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, -120vw);
    transform: translate3d(0, 0, -120vw);
    -webkit-transform-origin: top;
    transform-origin: top;
    transition: background 0.5s ease, -webkit-transform 10s cubic-bezier(0, 0, 0.86, 0.45);
    transition: transform 10s cubic-bezier(0, 0, 0.86, 0.45), background 0.5s ease;
    transition: transform 10s cubic-bezier(0, 0, 0.86, 0.45), background 0.5s ease, -webkit-transform 10s cubic-bezier(0, 0, 0.86, 0.45);
    z-index: -1;
}

#eevContainer.start {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#eevContainer.front {
    z-index: 1;
}

video#eev {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}


/* FEEDGRABBR WIDGET STYLES
---------------------------------------------------------*/

a.uw-text:hover,
a.uw-text:active,
a.uw-text:visited {
    color: #00b6de;
}


/* DONATE POPUP
---------------------------------------------------------- */

#donatePopup {
    background: rgba(255, 255, 255, 0.88);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

#donatePopup .contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    max-height: calc(100% - 140px);
    width: 95%;
    max-width: 550px;
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.23); */
    opacity: 0;
    pointer-events: none;
    z-index: 102;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease;
}

#donatePopup .contain a {
    display: block;
}

#donatePopup .contain a img {
    opacity: 0;
}

@media(min-width: $break-medium) {
    #donatePopup .contain {
        height: 50%;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

#donatePopup i.fa-times {
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 3.5rem;
    cursor: pointer;
}

#donatePopup a {
    cursor: pointer;
}

#donatePopup a.donate {
    position: absolute;
    bottom: 20px;
    left: 50%;
    background: black;
    padding: 24px 42px 22px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transform: translateX(-50%);
    transition: background .2s ease;
    line-height: 1;
    cursor: pointer;
}

#donatePopup a.donate:hover {
    background: #b00d19;
    text-decoration: none;
}

body.popupOpen #donatePopup {
    opacity: 1;
    pointer-events: all;
    transition: opacity .3s .5s ease;
}

body.popupOpen #donatePopup .contain {
    opacity: 1;
    pointer-events: all;
    transition: opacity .3s .9s ease;
}